<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <!-- Top row with form-->
    <div th:if="${session.role eq 'SUPERVISOR'}">
        <div class="row mt-5">
            <div class="col-12">
                <form id="cart-form">

                </form>
            </div>
        </div>
    </div>

    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="cart-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    <button type="button" id="placeOrder" class="btn btn-primary mt-2 mb-3">Place Order</button>
    </div>




</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script>
	var userRole = "[[${session.role}]]"
</script>
<script th:src="@{/static/cart.js}"/></script>

</body>

</html>